* {
  background-color: #27292b;
}

body {
  font: 16px Arial;
  
}

#wrr {
  color: #444648;
  margin: 20px auto;
  max-width: 500px;
}

h1 {
  border-bottom: 1px solid #444648;
  color: #fff;
}

input, 
textarea,
.skillsDiv {
  border: 1px solid #444648;
  border-radius: 5px;
  color: #fff;
}

.textarea {
  width: 490px;
}
    
.input-text {
    height: 40px;
    width: 240px;
}

input[type="submit"] {
  background-color: #5c9f81;
  }



.btn {
  height: 40px;
  margin-right: 20px;
  margin-top: 25px;
  width: 128px;
}

label {
  cursor:pointer;
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.skillsDiv{
height: 200px;
}
.skillsDiv input{

}


.two-columns {
  display: inline-block;
}

.default input {
  color: #444648;
}

.default label {
  border-color: #444648;
}

.valid input {
  border-color: #5c9f81;  
  color: #5c9f81;
}

.valid label {
  color: #5c9f81;
}

.invalid label {
  color: #da5f5b;
}

.invalid input {
  border-color:#da5f5b;
}

.active input,
.active .skillsDiv
 {
  color: #fff;
  border-color: #fff!important;
}
.active label {
  color: #fff;  
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  h1 {
    color: #a54f4c;
  }
}

@media only screen and (max-width : 600px) {
  .two-columns {
    display: block;
  }

  .input-text,
  input[type="submit"],
  input[type="reset"],
  .textarea, .skillsDiv {
    width: 90%;
  }


}
